{{> personalinfopartials/headerprofile}}

<div class="row justify-content-center">
  <div class="d-flex flex-column justify-content-center mt-3 col-7 p-0">
    <h4 class="text-center">Personal Info</h4>
    <p class="text-center">Basic info, like your name and info</p>
  </div>

  <div class="card col-7 p-0">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
         <div class="row justify-content-between">
        <div class="col-10">
          <div><h4>Profile</h4></div>
          <div class="text-secondary">Some info may be visible to other people</div>
        </div>
        <div class="col-2">
        <button class="btn-edit">
       <a href="/editprofile">Edit</a>
        </button>
        </div>
      </div>
      </li>
      <li class="list-group-item">
        <div class="row p-2 align-items-center">
          <div class="col-3 text-secondary">PHOTO</div>
          <div class="col-9">
            <img src="https://img.freepik.com/free-vector/young-man-playing-guitar_18591-77208.jpg?size=626&ext=jpg&ga=GA1.2.1388420341.1689589701&semt=sph" class="user-profile" alt="user-profile" />
          </div>
        </div>
      </li>
       <li class="list-group-item">
        <div class="row p-2">
          <div class="col-3 text-secondary">NAME</div>
          <div class="col-9">Xanthe Neal</div>
        </div>
      </li>
       <li class="list-group-item">
        <div class="row p-2">
          <div class="col-3 text-secondary">BIO</div>
          <div class="col-9">I am a software developer and a big fan of challenges...</div>
        </div>
      </li>
       <li class="list-group-item">
        <div class="row p-2">
          <div class="col-3 text-secondary">PHONE</div>
          <div class="col-9">908249274292</div>
        </div>
      </li>
       <li class="list-group-item">
        <div class="row p-2">
          <div class="col-3 text-secondary">EMAIL</div>
          <div class="col-9">xanthe.neal@gmail.com</div>
        </div>
      </li>
       <li class="list-group-item">
        <div class="row p-2">
          <div class="col-3 text-secondary">PASSWORD</div>
          <div class="col-9">**********</div>
        </div>
      </li>
    </ul>
  </div>

  <div class="d-flex justify-content-between mt-2 col-7 p-0">
    <div class="d-flex">
      <p>created by</p>
      <p class="ml-1 font-weight-bold"><u>anhtuan</u></p>
    </div>
     <div>
       <p>devchallenges.io</p>
     </div>
  </div>
</div>

